/*
 * Autor: Jan Samanek (xsaman02)
 */

div.row {
    height: 60px;
}

button:hover {
    color: royalblue;
}

.page {
    display: flex
}

.page__sidebar {
    width: 300px;
}

.page__content {
    flex: 1
}

.mat-icon-button {
    justify-content: flex-end;
}

h1:hover {
    cursor: pointer;
}

a:hover {
    color: white;
}

.activeButton {
    background-color: darkblue;
}