<!-- Autor: Jan Samanek (xsaman02) -->

<mat-toolbar color="primary" class="fixed-header">
    <mat-toolbar-row>
        <h1 [routerLink]="['/main-site']" [queryParams]="{ login: login }">ITU Banking &nbsp;</h1>
        <div>
            <a mat-button routerLinkActive="activeButton" [routerLink]="['/main-site']" [queryParams]="{ login: login }">Main site <mat-icon>
                    view_carousel</mat-icon></a>
            <a mat-button routerLinkActive="activeButton" [routerLink]="['/payments']" [queryParams]="{ login: login }">Payments <mat-icon>payment
                </mat-icon></a>
            <a mat-button routerLinkActive="activeButton" [routerLink]="['/movements']" [queryParams]="{ login: login }">Movements <mat-icon>timeline
                </mat-icon></a>
            <a mat-button routerLinkActive="activeButton" [routerLink]="['/eshop']" [queryParams]="{ login: login }">E-shop <mat-icon>shopping_cart
                </mat-icon></a>
            <a mat-button routerLinkActive="activeButton" [routerLink]="['/admin-site']" [queryParams]="{ login: login }" [hidden]="isHidden">Admin site <mat-icon>
                settings</mat-icon></a>
            <button type="button" [routerLink]="['/sign']" mat-icon-button (click)="logOut()">
                <mat-icon matTooltip="Log out">exit_to_app</mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<div *ngIf="!mainSite">
    <strong>You have: {{accountBalance}} FIT coins!</strong>
    <hr>
</div>

<router-outlet (activate)="onRouteChange()"></router-outlet>