
<!-- Chekne URL jestli se nachází na přihlašovací stránce
     Děje se to v typescriptu -->
<div *ngIf="signTable">

  <!-- Pokud je na přihlašovací stránce, zobrazuje přihlašovací komponentu -->
  <app-sign-site></app-sign-site>
</div>
<div *ngIf="!signTable">
  <!-- Pokud není, zobrazí navigační tlačítka, které zobrazují zbytek aplikace -->
  <app-navigation-buttons></app-navigation-buttons>
</div>
