/*
 * Autor: Jozef Horvat (xhorva11)
 */

.background {
  position: fixed;
  width:100%;
  height:100%;
  background-color:rgb(228, 225, 225);
  opacity: 1;
}

.login-screen {
  max-width: 400px;
  top: 35%;
  left: 35%;
}

.login-screen-title {
  text-align: center;
}


.form {
    display: flex;
    flex-direction: column;
  }
  
  .form > * {
    width: 100%;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }

 