<!-- Autor: Jozef Horvat (xhorva11) -->

<div class="background">
    <mat-card class="login-screen">
        
        <mat-card-title class="login-screen-title">
            Sign in
        </mat-card-title>

        <form class="form" (submit)="onSubmit()">

            <mat-form-field>
                <input matInput type="text" placeholder="Username" id="username" [(ngModel)]="username" name="username"/>
            </mat-form-field>
            
            <mat-form-field>
                <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [(ngModel)]="password" name="password"/>
                <button mat-icon-button matSuffix [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <button mat-button>Sign in</button>

        </form>
        
    </mat-card>
</div>
