/*
 * Autor: Filip Bali (xbalif00)
 */

.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.big-button {
  width: 30vw;
  height: 7vw;
  font-size: 2vw;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 60%;
  font-size: 3vw;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background: #3F51B5
}
