<!-- Autor: Filip Bali (xbalif00) -->

<div class="row mt-5">
    <div class="col-4" align="center">
        <!-- buttony angular material                                       měnění stránky -->
        <button mat-raised-button class="big-button" color="primary" [routerLink]="['/payments']"
            [queryParams]="{ login: login }">Send money to someone</button>
        <div class="mt-5">
            <button mat-raised-button class="big-button" color="primary" [routerLink]="['/movements']"
                [queryParams]="{ login: login }">See your history</button>
        </div>
    </div>
    <div class="col-4" align="center">
        <!-- Obrázky v assetu -->
        <img src="{{ account.profilePic }}" alt="{{ account.name }}" class="avatar">
        <div class="w3-container">
            <p class="w3-center w3-animate-top">{{ account.name }}</p>
        </div>
        <div class="mt-5">
            <div class="circle pt-5" align="center">{{ accountBalance }},-</div>
        </div>
    </div>
    <div class="col-4" align="center">
        <button mat-raised-button class="big-button" color="primary" [routerLink]="['/eshop']" [queryParams]="{ login: login }">Buy something</button>
        <div class=" mt-5">
            <button mat-raised-button class="big-button" color="primary" (click)="logOut()" [routerLink]="['/sign']">Log out</button>
    </div>
</div>
</div>