<!-- Autor: Jan Samanek (xsaman02) -->

<div class="row">
  <div class="col-lg-6">
    <div class="row ml-3">
      <form [formGroup]="form">
        <mat-form-field>
          <input matInput readonly [matDatepicker]="picker1" placeholder="Movements from" formControlName="startDate">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>&nbsp;
        <mat-form-field>
          <input matInput readonly [matDatepicker]="picker2" placeholder="Movements to" formControlName="endDate">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </form>
    </div>
    <app-line-chart [lineChartData]="lineChartData" [lineChartLabels]="lineChartLabels"></app-line-chart>
  </div>
  <div class="col-lg-6 padd-top">
    <app-pie-chart [pieChartData]="pieChartData"></app-pie-chart>
  </div>
</div>

<div class="mt-3">
  <app-table [selectedPayments]="selectedPayments" ></app-table>
</div>