<!-- Autor: Jan Samanek (xsaman02) -->

<ul class="mt-2">
    <div *ngFor="let product of products">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-2">
                        <img src="{{product.image}}" alt="{{product.name}}" class="logo">
                    </div>
                    <div class="col-lg-2">
                        <div class="row">
                            <strong style="font-size: 26;">Cost: {{product.cost}}</strong>
                        </div>
                    </div>
                    <div class="col-lg-6">
                            {{product.description}}
                    </div>
                    <div class="col-lg-2">
                        <button mat-raised-button color="primary" (click)="buyProduct(product.id)" [disabled]="product.cost >= accountBalance" [routerLink]="'/main-site'" [queryParams]="{ login: login }">
                            <i *ngIf="product.cost < accountBalance">Buy this!</i>
                            <i *ngIf="product.cost >= accountBalance">Need FIT coins</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ul>