<!-- Autor: Filip Bali (xbalif00) -->

<div class="mt-2">
    <!-- Začátek reaktivních forem -->
    <form [formGroup]="form">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">
                        <!-- Angular material input -->
                        <mat-form-field>
                            <mat-label>Who is receiver?</mat-label>
                            <!--        formControlName se dotazuje na propertu formy -->
                            <mat-select formControlName="loginReceiver" required>
                                <!-- ComboBox dává na výběr zbytek loginů. Tahá se ze servisy -->
                                <mat-option *ngFor="let receiver of receivers" [value]="receiver">
                                    {{receiver}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-4 full-width">
                        <mat-form-field>
                            <mat-label>How much to send?</mat-label>
                            <!-- inputu určujeme typ, opět propertu formy, placeholder a maximální hodnota required dává hvězdičku k inputu -->
                            <input matInput type="number" formControlName="value" placeholder="value" max="max"
                                required>
                                <!-- vypsání chybové hlášky pokud je input invalidní -->
                            <mat-error *ngIf="form.touched && form.invalid">Please enter a value between 0 and {{max}}
                            </mat-error>
                        </mat-form-field>

                    </div>
                    <div class="col-lg-4 full-width">
                        <mat-form-field>
                            <mat-label>Variable symbol?</mat-label>
                            <input matInput type="text" formControlName="varSymbol" placeholder="variable symbol">
                        </mat-form-field>

                    </div>
                </div>
                <div class="row mt-3">
                    <mat-form-field class="full-width">
                        <textarea matInput placeholder="What you want to say to {{form.value.loginReceiver}}"
                            formControlName="message"></textarea>
                    </mat-form-field>
                </div>
                <div class="row">
                    <!-- hranaté závorky INPUT a kulaté závorky OUTPUT -->
                    <button mat-raised-button color="primary" [disabled]="form.invalid"
                        (click)="makePayment()">Pay!</button>
                </div>
            </div>
        </div>
    </form>
</div>