<h2>User management</h2>

<dx-data-grid 
    id="gridContainer"
    [dataSource]="accountList"
    keyExpr="id"
    (onInitialized)="saveGridInstance($event)"
    [allowColumnReordering]="true"
    [showBorders]="true"
    [hoverStateEnabled]="true" 
    (onRowInserted)="createNewAccount($event)"
    (onRowUpdated)="updateAccount($event)"
    (onRowRemoved)="removeAccount($event)">

    <dxo-load-panel [enabled]="true"></dxo-load-panel>

    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager 
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[5, 10, 20]"
        [showInfo]="true">
    </dxo-pager>

    <dxo-search-panel 
        [visible]="true" 
        [width]="240" 
        placeholder="Search..."></dxo-search-panel>

    <dxo-editing 
         mode="row"
         [allowUpdating]="true"
         [allowDeleting]="true"
         [allowAdding]="true">
    </dxo-editing>
    
    <dxi-column dataField="name" caption="Name"  sortOrder="asc"></dxi-column>
    <dxi-column dataField="login" caption="Login" sortOrder="asc"></dxi-column>
    <dxi-column dataField="password" caption="Password"></dxi-column>
</dx-data-grid>